*{
    font-family: 'Roboto', sans-serif;
}

#search-bar {
    display: block;
    font-size: 1.25rem;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
}

.video{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.video-details {
   display: grid;
   grid-template-columns: 100px 1fr;
}

.video-thumbnail{
    width: 100%;
}

.video-details-channel-pic,
.video-details-text {
    display: inline-block;
}

.video-details-text-title{
    font-weight: bold;
    margin-top: 0;
}

.video-details-channel-pic img{
    border-radius: 50%;
    height: 80px;
    margin-left: 1rem;
    margin-bottom: 0;
}

.video-details-text {
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 0;
}